streamlit
crewai
langchain-core
langchain-community
langchain-groq
langchain-openai # see related issue https://github.com/microsoft/promptflow/issues/3079
langchain-anthropic
chromadb
load_dotenv
unstructured
pyowm
tools
wikipedia
yfinance
sec-api
tiktoken
faiss-cpu
python-dotenv
agentops
weave
langsmith